.cadre {
    height: 350px;
}

.avatar {
    width:38px;
    margin: 10px;
    border:2px solid rgb(0, 238, 255);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}