<div class="container spacer">
	<div class="panel panel-primary">
		<div class="panel-heading">Liste des contacts</div>
		<div class="panel-body">
			<div class="form-group">
				<label>Mot Clé</label>
				<input type="text" [(ngModel)]="motCle"/>
				<button class="btn btn-primary" (click)="chercher()">Chercher</button>
			</div>
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Email</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
				<tr *ngFor="let c of pageContacts?.content">
					<td>{{c.id}}</td>
					<td>{{c.nom}}</td>
					<td>{{c.prenom}}</td>
					<td>{{c.email}}</td>
					<td>
						<span class="glyphicon glyphicon-edit clickable" (click)="onEditContact(c.id)" aria-hidden="true">	</span>
					</td>
					<td>
						<span class="glyphicon glyphicon-remove clickable" (click)="onDeleteContact(c)" aria-hidden="true"></span>
					</td>
				</tr>
			</table>
			<div class="container">
				<ul class="nav nav-pills">
					<li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages;let i=index">
						<a (click)="gotoPage(i)" class="clickable">{{i}}</a>
					</li>
				</ul>
			</div>
		
		</div>
	</div>
</div>